@font-face {
  font-family: 'Neue Kabel';
  src: url('/fonts/Neue_Kabel_Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('/fonts/Neue_Kabel_Light.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('/fonts/Neue_Kabel_Bold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('/fonts/Neue_Kabel_Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('/fonts/Neue_Kabel_Light_Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('/fonts/Neue_Kabel_Light_Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
